/* first image has translateX(0) */
/* image container width 90vw */
/* column gap between images 20vw */
/* => for sliding next image motion === 90vw + 20 vw - 0 vw = 110vw*/
/* => as sliding to the left so: -110vw*/

.carousel__buttons-container:has(#btn__0:checked) ~ .carousel__content {
  transform: translateX(0);
}

.carousel__buttons-container:has(#btn__0:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(0);
}

.carousel__buttons-container:has(#btn__1:checked) ~ .carousel__content {
  transform: translateX(calc((-90vw - 20vw) * 1));
}

.carousel__buttons-container:has(#btn__1:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(calc((-40vw - 20vw) * 1));
}

.carousel__buttons-container:has(#btn__2:checked) ~ .carousel__content {
  transform: translateX(calc((-90vw - 20vw) * 2));
}

.carousel__buttons-container:has(#btn__2:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(calc((-40vw - 20vw) * 2));
}

.carousel__buttons-container:has(#btn__3:checked) ~ .carousel__content {
  transform: translateX(calc((-90vw - 20vw) * 3));
}

.carousel__buttons-container:has(#btn__3:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(calc((-40vw - 20vw) * 3));
}

.carousel__buttons-container:has(#btn__4:checked) ~ .carousel__content {
  transform: translateX(calc((-90vw - 20vw) * 4));
}

.carousel__buttons-container:has(#btn__4:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(calc((-40vw - 20vw) * 4));
}