/* first image has translateX(5vw) */
/* image container width 80vw */
/* column gap between images 20vw */
/* => for sliding next image motion === 80vw + 20 vw - 5 vw = 95vw*/
/* => as sliding to the left so: -95vw*/

.carousel__buttons-container:has(#btn__0:checked) ~ .carousel__content {
  transform: translateX(5vw);
}

.carousel__buttons-container:has(#btn__0:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(0);
}

.carousel__buttons-container:has(#btn__1:checked) ~ .carousel__content {
  transform: translateX(calc((-80vw - 20vw + 5vw) * 1));
}

.carousel__buttons-container:has(#btn__1:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(calc((-40vw - 20vw) * 1));
}

.carousel__buttons-container:has(#btn__2:checked) ~ .carousel__content {
  transform: translateX(calc((-80vw - 20vw + 5vw) * 2));
}

.carousel__buttons-container:has(#btn__2:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(calc((-40vw - 20vw) * 2));
}

.carousel__buttons-container:has(#btn__3:checked) ~ .carousel__content {
  transform: translateX(calc((-80vw - 20vw + 5vw) * 3));
}

.carousel__buttons-container:has(#btn__3:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(calc((-40vw - 20vw) * 3));
}

.carousel__buttons-container:has(#btn__4:checked) ~ .carousel__content {
  transform: translateX(calc((-80vw - 20vw + 5vw) * 4));
}

.carousel__buttons-container:has(#btn__4:checked) ~ .carousel__description-wrapper > .carousel__content-description {
  transform: translateX(calc((-40vw - 20vw) * 4));
}